
:root{
    --height-img: 40vh;
    --width-input: 300px;
    --margin-key: 15px 0px 15px 15px;
}
body {
    margin: 2rem;
    font-weight: 500;
    font-family: cursive;
}
body::-webkit-scrollbar{
    display: none;
}
ul, li{
    list-style: none;
    padding: 0;
    
}
/* ------------------------------------------------------------------- */
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px -8px 0;
}
.photo-grid li {
    position: relative;
    height: var(--height-img);
    flex-grow: 1;
    margin: 0 8px 8px 0;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    border-radius: 15px;
}

.photo-grid img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 15px;
    
}

.input{
    width: var(--width-input);
    height: 35px;
    margin-right: 5px;
    border-radius: 15px;
    border-color: rgba(0, 0, 0, 0.281);
    padding: 5px;
    font-weight: bolder;
    font-family: cursive;
}
.input:focus{
    outline: none;
    border-color: rgba(14, 212, 247, 0.884);
    transition:border-color 0.5s ;
}
.input:hover{
    border-color: rgba(14, 212, 247, 0.884);
    transition:border-color 0.5s ;
}
.btn-submit{
    font-weight: bolder;
    font-family: cursive;
    height: 35px;
    margin-top: 5px;
    border-radius: 15px;
    border-style: solid ;
    border-color: rgba(0, 0, 0, 0.281);
    cursor: pointer;
}
.btn-submit:hover{
    border-color: rgba(14, 212, 247, 0.884);
    transition:border-color 0.5s ;
}
.form{
    display: inline;
}
.group-keyword{
 margin-top: 10px;
 margin-bottom: 10px;
}
.hot-keyword{
    background: none;
    border-style: none;
    cursor: pointer;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 2px;
    height: 30px;
    width: 90px;
    font-size: 15px;
    border-radius: 9px;
    font-weight: 500;
    font-family: cursive;
}
.hot-keyword:hover{
    background: rgba(14, 212, 247, 0.884);
    transition: background 0.5s;
}

/* ----------------------------------------------------------------- */
@media only screen and (max-width: 450px) {
    :root{
        --height-img: 20vh;
        --width-input: 100%;
        --margin-key: 15px 0px 15px 15px;
    }
}

